<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SFXFileName</key>
		<string>Coin-drop0</string>
		<key>CoinQuantity</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>SFXFileName</key>
		<string></string>
		<key>CoinQuantity</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>SFXCoinDrop</key>
		<string>Coin-drop3</string>
		<key>SFXCoinShake</key>
		<string>Coin-shake3</string>
		<key>CoinQuantity</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>SFXFileName</key>
		<string></string>
		<key>CoinQuantity</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>SFXFileName</key>
		<string></string>
		<key>CoinQuantity</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
